name: CI-CD to Kubernetes (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: http://192.168.49.1:9000   # self-hosted runner only
      with:
        args: >
          -Dsonar.projectKey=project-01-devops-ci-cd
          -Dsonar.projectName=project-01-DevOps-CI-CD
          -Dsonar.sources=backend
          -Dsonar.language=py
          -Dsonar.exclusions=**/__pycache__/**,**/venv/**


    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build & Push Backend
      run: |
        docker build -t harshil403/todo-backend:latest ./backend
        
    - name: Trivy Scan Backend Image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/todo-backend:latest
        format: table
        scanners: vuln
        vuln-type: os,library
        severity: CRITICAL,HIGH
        ignore-unfixed: true
        exit-code: 0
        timeout: 15m      
      
    - name: Push Backend Image
      run: docker push harshil403/todo-backend:latest

    - name: Build & Push Frontend
      run: |
        docker build -t harshil403/todo-frontend:latest ./frontend
        

    - name: Trivy Scan Frontend Image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/todo-frontend:latest
        format: table
        scanners: vuln
        vuln-type: os,library
        severity: CRITICAL,HIGH
        ignore-unfixed: true
        exit-code: 0
        timeout: 15m
     
    - name: Push Frontend Image
      run: docker push harshil403/todo-frontend:latest


    
   

    - name: Build & Push Nginx
      run: |
        docker build -t harshil403/todo-nginx:latest ./nginx
        docker push harshil403/todo-nginx:latest
        
    - name: Trivy Scan Nginx Image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/todo-nginx:latest
        format: table
        scanners: vuln
        vuln-type: os
        severity: CRITICAL,HIGH
        ignore-unfixed: true
        exit-code: 0
        timeout: 10m

    - name: Push Nginx Image
      run: docker push harshil403/todo-nginx:latest
        
    - name: Deploy manifests
      run: |
        kubectl apply -f k8/
        kubectl apply -f k8/monitoring/

    - name: Wait for deployments to be ready
      run: |
        kubectl rollout status deployment/postgres --timeout=120s
        kubectl rollout status deployment/todo-backend --timeout=120s
        kubectl rollout status deployment/todo-frontend --timeout=120s
        kubectl rollout status deployment/todo-nginx --timeout=120s

    - name: Sleep to stabilize services
      run: sleep 15
        

    - name: Expose app via Minikube
      run: |
        minikube service nginx --url
        minikube service prometheus --url
        


    - name: Expose app via Minikube
      run: |
        minikube service grafana --url

      
