name: CI-CD to Kubernetes (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build & Push Backend
      run: |
        docker build -t harshil403/todo-backend:latest ./backend
        docker push harshil403/todo-backend:latest

    - name: Build & Push Frontend
      run: |
        docker build -t harshil403/todo-frontend:latest ./frontend
        docker push harshil403/todo-frontend:latest

    - name: Build & Push Nginx
      run: |
        docker build -t harshil403/todo-nginx:latest ./nginx
        docker push harshil403/todo-nginx:latest

    - name: Deploy manifests
      run: |
        kubectl apply -f k8/
        kubectl apply -f k8/monitoring/

    - name: Wait for deployments to be ready
      run: |
        kubectl rollout status deployment/postgres --timeout=120s
        kubectl rollout status deployment/todo-backend --timeout=120s
        kubectl rollout status deployment/todo-frontend --timeout=120s
        kubectl rollout status deployment/todo-nginx --timeout=120s

    - name: Sleep to stabilize services
      run: sleep 15
        kubectl port-forward svc/grafana 3000:3000

    - name: Expose app via Minikube
      run: |
        minikube service nginx --url
        kubectl port-forward svc/prometheus 9090:9090
        
        
